*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo-index h1{
    background-color: brown;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: black;
    margin-top: 5px;
    padding: 0%;
}
            /*NAVBAR GENERAL*/

/*buscador del navbar*/
.buscador-navbar{
    display: flex;
    justify-content: right;
}
    /*Separacion de "inicio|articulos|etc.."*/
.navbar-nav li{
    margin-left: 50px;
}
    /*Para centrar más las cosas del navbar*/
#navbarNav{
    display: flex;
    justify-content: space-around;
}

            /*CARROUSEL*/
.carousel-inicio img{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 1px;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
}

    /*Segundo titulo*/
.second-title{
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px ;
    padding: 5px 5px 30px 5px;
    color: black;
}

/*IMG-MAIN (patalones-remeras-buzos)*/

.contenedor-card{
    flex-wrap: wrap;
}

.card-uno{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.card-dos{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-tres{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}